@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #1e2024;
}

.logo {
    cursor: pointer;
    width: 15%;
}

.nav-links {
    list-style: none;
}


.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}


.nav-links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
    
}

.header-img {
    background-image: url('../images/header_image.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items:  center;
}

.header-img h1 {
    color: #edf0f1;
    font-size: 45px;
}

.why-us {
    text-align: center;
    margin: 2vw;
    font-size: 250%;
    color: #177e98;
}

.why-us-info {
    font-size: 26px;
    color: rgb(104, 102, 102);
    line-height: 32px;
    text-align: center;
    padding: 0 100px;
}

.two {
    margin: 7%;
    display: flex;
    flex-direction: row;
}

.two-cards {
    color: rgba(250, 247, 247,1);
    width: 33%;
    margin: 1%;
    height: 430px;
    display: flex;
    flex-direction: column;
    background-color: rgba(247, 249, 249,0.9);
    /* background-color: rgba(250, 247, 247, 0.432); */
    align-items: center;    
}

.two-cards-icons {
    width: 100px;
    margin: 40px;
    
}

.two-cards-titles {
    color: rgb(21, 119, 144);
}

.two-cards-text{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    margin: 35px;
    margin-top: 20px;
    color: rgb(104, 102, 102);
    
}